body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  line-height: 72px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  line-height: 72px;
}

.sidebar {
  height: 90vh;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex: 1;
}

.cards {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  max-width: 280px;
  padding: 12px;
}

ul {
  list-style-type: none;
  padding-left: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
